<link rel="stylesheet" href="/css/home.css">
<article class="card">
    <img
      class="card__background"
      src="https://i.imgur.com/QYWAcXk.jpeg"
      alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      width="1920"
      height="2193"
    />
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">PlacementCell</h2>
        <p class="card__description">
         it is a plateform where interviewer handle the data of students
        </p>
      </div>
      <a href="/users/login_form"> <button class="card__button">login</button></a>
    </div>
  </article>